html, body {
  background-color: var(--bg);
  font-family: var(--ff);
}

header {
  padding: var(--size-400) 0 var(--size-300);

  .logo {
    width: var(--size-900);
  }
}

section {
  width: 100%;
  height: 100%;
}

section.content {
  display: grid;
  gap: .30em;

  textarea {
    width: 100%;
    border: 1px solid var(--blue-500);
    padding: var(--size-200);
    resize: none;
  }

  .actions {
    display: grid;
    gap: var(--size-200);
  }
}
